        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }

        a {
            text-decoration: none;
            color: #A8641D;
            background-color: #292826;
            border-radius: 8px;
            padding: 10px;
   
        }

        ul {
            list-style: none;
        }



    /********** Header CSS *********/
        .header {
            width: 100%;
            height: 100vh;
            background-image: url(images/bg2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .header:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.5;
            z-index: 1;
            background-color: #000;
        }

        /*** Navbar ***/
        .navbar.fixed-top {
            transition: .5s;
            z-index: 2;
        }

        .navbar .navbar-nav .nav-link {
            padding: 20px 15px;
            color: #A8641D;
            font-size: 18px;
            font-weight: 600;
            outline: none;
        }

        .navbar.navbar-expand-lg {
            background: rgba(19, 18, 18, 0.8);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 0 20px;
        }

        .navbar-brand {
            background-color: #A8641D;
            padding: 10px 20px;
            margin: 0;
        }

        .navbar-brand h1 {
            margin: 0;
            color: #181717;
            font-size: 28px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .collapse.navbar-collapse {
            justify-content: space-between;
            padding: 0;
        }

        .navbar-nav.ms-auto, .navbar-nav.me-auto {
            padding: 0;
        }
    /********** Header CSS end *********/



    /********** banner CSS *********/
        .banner {
            position: absolute;
            top: 19%;
            left: 0;
            color: #fff;
            z-index: 2;
        }

        .app-text {
            width: 60%;
            padding-left: 50px;
        }

        .app-text h3 {
            margin-top: 100px;
            font-size: 25px;
            color: #fff;
            font-weight: 900;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .app-text h1 {
            font-size: 80px;
            position: relative;
            color: #dad6d6;
            margin-top: 30px;
            font-weight: 600;
            line-height: 1.3;
            font-family: 'Playfair Display', serif;
        }

        .app-text p {
            font-size: 19px;
            margin: 30px 30px 30px 0;
            letter-spacing: 1px;
            color: #fff;
            padding-right: 250px;
            line-height: 1.5;
            letter-spacing: 3px;
        }

        .group {
            display: flex;
            width: 100%;
            position: relative;
            margin-top: 20px;
        }

        .learn-more {
            cursor: pointer;
            display: block;
            color: #000;
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            background-color: #fff;
            padding: 15px 20px;
            letter-spacing: 1px;
            transition: all 0.5s;
        }

        .learn-more:hover {
            background: red;
            color: #fff;
        }

        .play {
            margin-left: 40px;
            display: flex;
            align-items: center;
        }

        .group span {
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            margin: auto 20px;
            cursor: pointer;
        }

        .play-benner {
            height: 55px;
            width: 55px;
        }

        .play-benner i {
            border: 2px solid transparent;
            border-radius: 50%;
            padding: 17px 20px;
            font-size: 17px;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.3);
            transition: all 0.5s;
        }

        .play-benner i:hover {
            background: red;
            color: #fff;
        }

        .social-icons {
            position: absolute;
            right: 50px;
            top: 35%;
            z-index: 2;
        }

        .social-icons ul li {
            margin-top: 25px;
            text-align: center;
        }

        .social-icons ul li a {
            display: block;
            color: #fff;
            padding: 14px 16px;
            font-size: 25px;
            font-weight: 700;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.5s;
        }

        .social-icons ul li a:hover {
            background: rgb(255, 0, 0);
            color: #fff;
        }

        .menu li:hover {
            color: #292826;
        }
/********** banner CSS end *********/

        .ingredient{
            background-image: url('images/—Pngtree—luxury royal golden mandala background_1600593.jpg');
            background-attachment: fixed;
            background-size: cover;
            position: relative;
        }

/********** about CSS *********/
          .body-about {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            background-size: cover;
            position: relative;
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            display: flex;
            max-width: 900px;
            margin: 20px;
            background: none;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            border: 9px solid #A8641D;
            box-shadow: 0 0 10px rgba(212, 160, 23, 9);
            background: #000;
            opacity: 0.9;
        }

        .experience-section {
            padding: 40px;
            width: 50%;
            text-align: center;
        }

        .experience-section h1 {
            font-size: 80px;
            color: #F9D342;
            margin: 0;
            line-height: 1;
            display: inline-block;
        }

        .experience-section span {
            font-size: 40px;
            color: #F9D342;
            display: block;
        }

        .experience-section p {
            font-size: 16px;
            line-height: 1.5;
            color: #F9D342;
            margin: 20px 0;
        }

        .experience-section .description {
            margin: 20px 0;
        }

        .Danhsach {
            list-style: none;
            padding: 0;
            color: #F9D342;
            margin-bottom: 30px;
        }

        .Danhsach li {
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .Danhsach li::before {
            content: "•";
            color: #292826;
            font-size: 24px;
            margin-right: 10px;
        }

        .start-section {
            width: 70%;
            display: flex;
            flex-direction: column;
        }

        .montheohoc {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .montheohoc h2 {
            font-size: 24px;
            color: #F9D342;
            margin-bottom: 10px;
            text-align: center;
        }

        .start-item {
            padding: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .start-item img {
            width: 20%;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
        }

        .start-item h2 {
            font-size: 24px;
            color: #F9D342;
            margin: 0;
        }

        .start-item p {
            color: #F9D342;
            margin: 10px 0 0;
            line-height: 1.5;
        }
        /********** about CSS end *********/




        /********** skills CSS *********/
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-image: url(images/Ảnh\ chụp\ màn\ hình\ 2025-06-05\ 110544.png) ;
            margin: 15% auto;
            padding: 20px;
            border: 10px solid #fad84f;
            width: 80%;
            max-width: 600px;
            position: relative;
            border-radius: 8px;
             box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
        }

        .close {
            position: absolute;
            top: -5px;
            right: 20px;
            font-size: 24px;
            cursor: pointer;
            color: #292826;
        }

        .modal-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .section {
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
        .section1{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
        .section img{
            width: 50%;
            height: auto;
            border-radius: 10px;
     
        }

        .subtitle1 {
            color: red;
            font-size: 16px;
            display: flex;
            align-items: center;
   
        }

        .subtitle1::before {
            content: '';
            width: 30px;
            height: 2px;
            background: #A8641D;
            margin-right: 10px;
        }

        .title {
            font-size: 13px;
        }

        .skill {
            margin-bottom: 25px;
        }

        .skill-name {
            font-size: 18px;
            margin-bottom: 8px;

        }

        .progress {
            width: 100%;
            height: 12px;
            background: #dad6d6;
            border-radius: 6px;
            overflow: hidden;
            position: relative;
        }

        .progress-1 {
            height: 100%;
            background: #ff4d4d;
            width: 0;
            transition: width 2s ease-in-out;
        }

        .progress span {
            position: absolute;
            right: 10px;
            top: -30px;
            font-size: 16px;
            color: #333;
        }

        .modal-button {
            display: inline-block;
            padding: 12px 25px;
            background: #181717;
            color: #F9D342;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 25px;
            cursor: pointer;
            opacity: 0.9;
        }
        /********** skills CSS end *********/


        
        /*******************************/
        /******* Experience CSS ********/
        /*******************************/
        .experience {
            position: relative;
            padding: 45px 0 15px 0;
            width: 100%;
        }

        .timeline {
             position: relative;
            width: 100%;
        }

        .experience .timeline::after {
            content: '';
            position: absolute;
            width: 2px;
            background: #EF233C;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -1px;
        }

        .experience .timeline .timeline-item {
            position: relative;
            background: inherit;
            width: 50%;
            margin-bottom: 30px;
        }

        .experience .timeline .timeline-item.left {
            left: 0;
            padding-right: 30px;
        }

        .experience .timeline .timeline-item.right {
            left: 50%;
            padding-left: 30px;
        }

        .experience .timeline .timeline-item::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: 48px;
            right: -8px;
            background: #ffffff;
            border: 2px solid #EF233C;
            border-radius: 16px;
            z-index: 1;
        }

        .experience .timeline .timeline-item.right::after {
            left: -8px;
        }

        .experience .timeline .timeline-item::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 46px;
            right: 10px;
            z-index: 1;
            border: 10px solid;
            border-color: transparent transparent transparent #dddddd;
        }

        .experience .timeline .timeline-item.right::before {
            left: 10px;
            border-color: transparent #dddddd transparent transparent;
        }

        .experience .timeline .timeline-date {
            position: absolute;
            width: 100%;
            top: 44px;
            font-size: 16px;
            font-weight: 600;
            color: #EF233C;
            text-transform: uppercase;
            letter-spacing: 1px;
            z-index: 1;
        }

        .experience .timeline .timeline-item.left .timeline-date {
            text-align: left;
            left: calc(100% + 55px);
        }

        .experience .timeline .timeline-item.right .timeline-date {
            text-align: right;
            right: calc(100% + 55px);
        }

        .experience .timeline .timeline-text {
            padding: 30px;
            background: #ffffff;
            position: relative;
            border-right: 5px solid #dddddd;
            box-shadow: 0 0 60px rgba(0, 0, 0, .08);
        }

        .experience .timeline .timeline-item.right .timeline-text {
            border-right: none;
            border-left: 5px solid #dddddd;
        }

        .experience .timeline .timeline-text h2 {
            margin: 0 0 5px 0;
            font-size: 22px;
            font-weight: 600;
        }

        .experience .timeline .timeline-text h4 {
            margin: 0 0 10px 0;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
        }

        .experience .timeline .timeline-text p {
            margin: 0;
            font-size: 16px;
        }

        .section-header{
            text-align: center;
        }

        .container-experience{
            border: 9px solid #A8641D;
        }


    