.header{
    padding: 20px;
    text-align: center;
}
.penti{
    text-align: center;
    background-color: #2B3E4F;
    display: flex;
    justify-content: center;
}
.text{
    margin-right: 10px;
    padding: 10px;
}
